body {
  background-color: black;
  color: white;
}
.mainContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.clock{
  width: 149px;
  height: 60px;
  background-color: yellow;
}